@page "/beranda"

@using Microsoft.AspNetCore.Authorization

<PageTitle>Beranda</PageTitle>

<div class="dark:border-gray-700">
    <div class="mx-auto">
        <img src="/images/image 3.png" class="w-full h-full object-cover" />

        @* <AuthorizeView>
            <Authorized>
                <dl>
                    @foreach (var claim in @context.User.Claims)
                    {
                        <dt>@claim.Type</dt>
                        <dd>@claim.Value</dd>
                    }
                </dl>
            </Authorized>
        </AuthorizeView> *@
    </div>
</div>

